<div class = "header">
 <div class ="container">
   <div class = "header-left">
    <a href = "/" >Let'go Fitness</a>
   </div>
    
   <div class = "header-right">
  <% if user_signed_in? %>
    <%= link_to 'ログアウト',destroy_user_session_path , method: :delete, class: "header-button" %> 
    <%= link_to 'メインページ',plans_path ,class: "header-button"%>
    <%= link_to "マイページ",  "/users/#{current_user.id}",class: "header-button"%>
  <% else %>
    <%= link_to '新規登録', new_user_registration_path, class: "header-button" %>
    <%= link_to 'ログイン', new_user_session_path, class: "header-button" %>
  <% end %>
   </div>

  <div class = "clear"></div>
  </div>

</div>



