<%= render "shared/header" %>
<div class="posts">
  <div class="pos">
    <h3 class = "post-menu">fitness_menu</h3>
    <P class = "habits">今日取り組んだmenuを投稿しよう!!</p>
    
    <%= form_with(model: @plan, local: true) do |f| %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :種目を選択, class: 'lavel' %>
    <%= f.collection_select(:part_id, Part.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.label :本日のメニュー, class: 'lavel' %>
    <%= f.text_area :text, placeholder: "例 腹筋30回ets...", rows: "6",class:"menu" %>
    <%= f.submit '編集', class: "button" %>
  </div>
</div>
  
<% end %>

<%= render "shared/footer" %>