<%= render "shared/header" %>
<div class="main-comments">
  <h2 class = "com-title" ><%= @plan.user.nickname %>さんの投稿にコメントしよう！！</h2>

   <div class = "com-main"> 
       <div class = "comments-text">  
        <span><%= @plan.date%><br><%= @plan.part.name%><br><%= @plan.text%></span>
       </div>
   </div> 
      <%= form_with(model: [@plan, @comment], local: true) do |form| %>
        <%= form.text_area :com, placeholder: "コメントする", rows: "2",class: 'com' %>
        <%= form.submit "コメント",class: "com-button" %>     
    <% end %>
    <div class="comments">
        <h3 class ="com-plan"> ☟☟☟コメント一覧☟☟☟</h3>
      <% @comments.reverse.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"com-table"%></strong>
          :<%= comment.com %>
        </p>
      <% end %>
    </div>
</div>


<%= render "shared/footer" %>